html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	heigth: 20px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
}

.map {
	width: 100%;
	height: 100%;
}

.donator {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	width: 400px;
	height: 350px;
	margin: auto;
	padding: 10px 30px;
	background: rgba(255, 255, 255, 0.8);
}

.donator-close {
	position: absolute;
	right: 30px;
	top: 10px;
}

form {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	width: 400px;
	height: 600px;
	margin: auto;
	padding: 10px 30px;
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);
}

.form-control.ng-valid[required] {
	border-left: 5px solid #42A948;
}

.form-control.ng-invalid {
	border-left: 5px solid #a94442;
}